.modal-inner{
    width: 480px;
    position: relative;
    top: 50%;
    margin: auto;
    background:rgb(255, 255, 255);
}

.modal-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background: rgba(232, 84, 109, 0.918);
}

.modal-body{
    padding: 15px;
}

.modal-body h2{
    color: rgba(232, 84, 109, 0.918);
    margin-bottom: 10px;
}

.modal-footer{
    padding: 15px;
    text-align: right;
}

.yes-button{
    padding: 10px 30px;
    color:white;
    background: rgba(232, 84, 109, 0.918);
    border-radius: 10px;
    border: none;
    outline: none;
    cursor: pointer;
}

.yes-button:hover{
    background: rgba(234, 53, 83, 0.918);
}

.cancel-button{
    padding: 10px 20px;
    color:white;
    background: rgb(130, 130, 130);
    border-radius: 10px;
    border: none;
    outline: none;
    cursor: pointer;
    margin-right: 5px;
}

.cancel-button:hover{
    background: rgba(96, 96, 96, 0.918);
}


